##Created by VexRobotics Builder
##Edited 2026-03-23


###################################
## MISC MACROS (OFTEN TEMPORARY) ##
###################################


[gcode_macro Preheat_ABS]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder4 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder5 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=105
    Heating_Lights

[gcode_macro ABS]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=245
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=245
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=245
    SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=245
    SET_HEATER_TEMPERATURE HEATER=extruder4 TARGET=245
    SET_HEATER_TEMPERATURE HEATER=extruder5 TARGET=245
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=105
    Heating_Lights


[gcode_macro Preheat_PLA]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder4 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder5 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=55
    Heating_Lights

[gcode_macro PLA]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=200
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=200
    SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=200
    SET_HEATER_TEMPERATURE HEATER=extruder4 TARGET=200
    SET_HEATER_TEMPERATURE HEATER=extruder5 TARGET=200
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=55
    Heating_Lights

[gcode_macro Cool_Down]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=0
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=0
    SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=0
    SET_HEATER_TEMPERATURE HEATER=extruder4 TARGET=0
    SET_HEATER_TEMPERATURE HEATER=extruder5 TARGET=0
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0
    Cooling_Lights