##Created by VexRobotics Builder
##Edited 2026-03-23


###################################
## MISC MACROS (OFTEN TEMPORARY) ##
###################################


[gcode_macro Preheat ABS]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder4 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=extruder5 TARGET=150
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=105
    Heating_Lights