[mcu picoL]
serial: dev/serial/by-id/usb-Klipper_rp2040_50443404105D891C-if00


# [stepper_x]
# step_pin: picoL:gpio11
# dir_pin: !picoL:gpio10
# enable_pin: !picoL:gpio12
# microsteps: 16
# rotation_distance: 40
# endstop_pin: ^picoL:gpio4
# # endstop_pin: tmc2209_stepper_x:virtual_endstop
# # homing_retract_dist: 0
# position_endstop: 0
# position_max: 235
# homing_speed: 50

# [tmc2209 stepper_x]
# uart_pin: picoL:gpio9
# tx_pin: picoL:gpio8
# uart_address: 0
# run_current: 0.8
# hold_current: 0.6
# stealthchop_threshold: 999999
# # diag_pin: ^picoL:gpio4
# # driver_SGTHRS: 100

# [stepper_y]
# step_pin: picoL:gpio6
# dir_pin: !picoL:gpio5
# enable_pin: !picoL:gpio7
# microsteps: 16
# rotation_distance: 40
# endstop_pin: ^picoL:gpio3
# # endstop_pin: tmc2209_stepper_y:virtual_endstop
# # homing_retract_dist: 0
# position_endstop: 0
# position_max: 235
# homing_speed: 50

# [tmc2209 stepper_y]
# uart_pin: picoL:gpio9
# tx_pin: picoL:gpio8
# uart_address: 2
# run_current: 0.8
# hold_current: 0.6
# stealthchop_threshold: 999999
# diag_pin: ^picoL:gpio3
# driver_SGTHRS: 100

# [stepper_z]
# step_pin: picoL:gpio19
# dir_pin: picoL:gpio28
# enable_pin: !picoL:gpio2
# microsteps: 16
# rotation_distance: 8
# # endstop_pin: ^picoL:gpio25
# # position_endstop: 0
# endstop_pin: probe:z_virtual_endstop
# position_min: -2.0
# position_max: 250
# homing_speed: 12

# [tmc2209 stepper_z]
# uart_pin: picoL:gpio9
# tx_pin: picoL:gpio8
# uart_address: 1
# run_current: 0.580
# hold_current: 0.500
# stealthchop_threshold: 999999

# [extruder]
# step_pin: picoL:gpio14
# dir_pin: !picoL:gpio13
# enable_pin: !picoL:gpio15
# microsteps: 16
# rotation_distance: 33.500
# nozzle_diameter: 0.4
# filament_diameter: 1.75
# heater_pin: picoL:gpio23
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: picoL:gpio27
# control: pid
# pid_Kp: 22.2
# pid_Ki: 1.08
# pid_Kd: 114
# min_temp: 0
# max_temp: 300
# max_extrude_cross_section:2

# [tmc2209 extruder]
# uart_pin: picoL:gpio9
# tx_pin: picoL:gpio8
# uart_address: 3
# run_current: 0.650
# hold_current: 0.500
# stealthchop_threshold: 999999

# [filament_switch_sensor runout_sensor]
# switch_pin: ^picoL:gpio16
# pause_on_runout: True

# # [filament_motion_sensor smart_sensor]
# # switch_pin: ^picoL:gpio16
# # detection_length: 2.5


# [fan]
# pin: picoL:gpio17

# [heater_fan hotend_fan]
# pin: picoL:gpio18
# heater: extruder
# heater_temp: 50.0

# [heater_fan controller_fan]
# pin: picoL:gpio20
# heater: heater_bed
# heater_temp: 45.0


# [bltouch]
# sensor_pin: picoL:gpio22
# control_pin: picoL:gpio29


# [neopixel chamber]
# pin: picoL:gpio24
# chain_count: 36
# color_order: GRB
# initial_RED: 0
# initial_GREEN: 0
# initial_BLUE: 0

